@import "./vars";
@import "./mixins";

// scrollbar
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background-color: #090a0f;
}
::-webkit-scrollbar-thumb {
  background-color: $bg;
  border-radius: 60px !important;
}
// scrollbar end
body {
  background: #090a0f;
  color: $font;
  overflow-x: hidden;
  max-height: 100% !important;

  // stars class
  #bg {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
  }
  // stars responsive
  .main-bg {
    height: 3000px;
    @media (max-width: 1399.98px) {
      height: 2800px;
      @media (max-width: 991.98px) {
        height: 2400px;
        @media (max-width: 767.98px) {
          height: 4000px;
          @media (max-width: 490.98px) {
            height: 3500px;
          }
        }
      }
    }
  }
  .login-bg {
    height: 100%;
  }
  .register-bg {
    height: 100%;
  }
  .turkey-bg {
    height: 2050px;
    @media (max-width: 767.98px) {
      height: 2300px;
      @media (max-width: 575.98px) {
        height: 2400px;
      }
    }
  }
  .eygpt-bg {
    height: 1350px;
    @media (max-width: 575.98px) {
      height: 1200px;
    }
  }
  // stars responsive end
  nav {
    background-color: $bg-light;
    border-radius: 5px;
    margin-bottom: 80px;
    padding: 15px !important;
    border-bottom: 1px solid $font;

    a.navbar-brand {
      max-width: 10%;
      background-color: $font;
      border-radius: 5px;
      position: relative;
      box-shadow: 0 0 10px $font;
      &:hover {
        background-color: $font-ex-dark;
        transition: all 0.3s;
      }
      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 0;
        height: 0;
        border-radius: 5px;
        border-top: 4px solid $font-dark;
        border-right: 4px solid $font-dark;
        animation: border-top-right 3s infinite alternate;
      }
      &::after {
        content: "";
        position: absolute;
        bottom: 0;
        right: 0;
        width: 0;
        height: 0;
        border-radius: 5px;
        border-bottom: 4px solid $font-dark;
        border-left: 4px solid $font-dark;
        animation: border-bottom-left 3s infinite alternate;
      }
      @keyframes border-top-right {
        0% {
          width: 0;
          height: 0;
        }
        25% {
          width: 100%;
          height: 0;
        }
        50% {
          width: 100%;
          height: 100%;
        }
        100% {
          width: 100%;
          height: 100%;
        }
      }
      @keyframes border-bottom-left {
        0% {
          width: 0;
          height: 0;
          opacity: 0;
        }
        50% {
          width: 0;
          height: 0;
          opacity: 0;
        }
        50.1% {
          width: 0;
          height: 0;
          opacity: 1;
        }
        75% {
          width: 100%;
          height: 0;
          opacity: 1;
        }
        100% {
          width: 100%;
          height: 100%;
          opacity: 1;
        }
      }
      @media (max-width: 1199.98px) {
        max-width: 14%;
        @media (max-width: 991.98px) {
          max-width: 18%;
          @media (max-width: 767.98px) {
            max-width: 24%;
            @media (max-width: 575.98px) {
              max-width: 32%;
              @media (max-width: 372.98px) {
                max-width: 40%;
              }
            }
          }
        }
      }

      img {
        max-width: 30%;
      }
    }
    ul.navbar-nav {
      margin-right: 15%;
      @media (max-width: 1199.98px) {
        margin-right: 6%;
        @media (max-width: 991.98px) {
          margin-top: 20px;
          margin-right: 0%;
        }
      }

      li.nav-item {
        font-size: 13px;
        font-weight: 400;
        border-radius: 5px;
        &:not(:last-child) {
          margin-left: 50px;
          @media (max-width: 991.98px) {
            margin-left: 0px;
            margin-bottom: 10px;
          }
        }
        a.nav-link {
          @include btn-outLing($font-dark);
        }
      }
    }
  }
  #about-company {
    background-color: $bg-light;
    padding: 50px;
    border-radius: 10px;
    max-width: 70%;
    margin-top: 200px;
    margin-bottom: 80px;
    box-shadow: 0 0 11px 1px $font;
    &:hover {
      box-shadow: 0 0 11px 1px $font-dark;
      transition: all 0.3s ease;
    }
    @media (max-width: 575.98px) {
      max-width: 100%;
      padding: 50px 3px;
    }
    .heading {
      margin-bottom: 50px;
      color: $font-dark;
      h2 {
        text-align: center;
      }
      hr {
        max-width: 50%;
        margin-left: auto;
        margin-right: auto;
      }
    }
    p {
      font-size: 17px;
      text-align: center;
      @media (max-width: 575.98px) {
        font-size: 14px;
        width: 100%;
      }
    }
  }
  #our-services {
    margin-bottom: 80px;
    h1 {
      text-align: center;
      color: $font-dark;
    }
    hr {
      margin-bottom: 40px;
      width: 50%;
      margin-right: auto;
      margin-left: auto;
    }
    .card {
      height: 540px;
      margin-bottom: 30px;
      box-shadow: 0 0 11px 1px $font;
      background-color: $bg-light;
      &:hover {
        box-shadow: 0 0 11px 1px $font-dark;
        transition: all 0.3s ease;
      }
      @media (max-width: 1199.98px) {
        height: 500px;
        @media (max-width: 991.98px) {
          height: 450px;
          @media (max-width: 767.98px) {
            height: 400px;
          }
        }
      }

      img {
        max-width: 100%;
        height: 400px;
        @media (max-width: 1199.98px) {
          height: 350px;
          @media (max-width: 991.98px) {
            height: 290px;
          }
        }
      }
      .card-body {
        p {
          font-size: 17px;
          color: $font;
          text-align: center;
          padding-top: 10px;
          @media (max-width: 767.98px) {
            font-size: 14px;
          }
        }
      }
    }
  }
  #tours {
    margin-bottom: 100px;
    .heading {
      text-align: center;
      color: $font-dark;
    }
    hr {
      margin-bottom: 40px;
      width: 50%;
      margin-right: auto;
      margin-left: auto;
    }

    .col-md-6 {
      position: relative;
      .custom-card:hover {
        @media (min-width: 767.98px) {
          right: 11px;
        }
      }
      .card {
        background-color: $bg-light;
        box-shadow: 0 0 11px 1px $font;
        margin-bottom: 25px;
        width: 100%;
        @media (min-width: 767.98px) {
          &:hover {
            position: absolute;
            left: 11px;
            width: 110%;
            box-shadow: 0 0 11px 1px $font-dark;
            transition: all 0.3s ease;
          }
        }
        .card-body {
          color: $font;
          .clearfix {
            margin-top: 5px;
          }
          h3 {
            font-size: 25px;
            font-weight: 700;
            @media (max-width: 767.98px) {
              font-size: 17px;
            }
          }
          p {
            color: lightgreen;
            font-size: 22px;
          }
          a.btn {
            @include btn-outLing($font-dark);
            margin-top: 20px;
            margin-left: auto;
            margin-right: auto;
          }
        }
      }
    }
  }
  #contact-us {
    padding: 20px;
    margin-top: 50px;
    background-color: rgb(56, 56, 56);
    border-radius: 10px;
    box-shadow: 0 0 11px 1px $font;
    &:hover {
      box-shadow: 0 0 11px 1px $font-dark;
      transition: all 0.3s ease;
    }
    h4 {
      color: $font-dark;
    }
    .contact {
      &:hover {
        color: $font-dark;
        transition: all 0.2s ease;
      }
    }
    #map {
      iframe {
        border-radius: 5px;
        @media (max-width: 767.98px) {
          margin-top: 20px;
        }
      }
    }
  }
  //////// turkey tour page //////////
  #turkey-tour {
    margin-top: 200px;
    @include tour($bg, $font-turkey-ex-dark, $font-turkey-dark, $font-turkey);
    .heading {
      padding: 50px;
      border-radius: 10px;
      max-width: 100%;
      margin-bottom: 100px;
      height: auto;

      @media (max-width: 575.98px) {
        max-width: 100%;
        padding: 50px 3px;
      }
      h2 {
        text-align: center;
        font-size: 25px;
      }
      hr {
        max-width: 50%;
        margin-left: auto;
        margin-right: auto;
      }
      p {
        font-size: 17px;
        text-align: center;

        @media (max-width: 575.98px) {
          font-size: 17px;
          width: 100%;
          @media (max-width: 767.98px) {
            font-size: 17px;
          }
        }
      }
    }
    .description {
      .heading {
        height: 300px;
        @media (max-width: 767.98px) {
          height: auto;
        }
        p {
          @media (max-width: 1199.98px) {
            font-size: 16px;
            @media (max-width: 991.98px) {
              font-size: 14px;
              @media (max-width: 767.98px) {
                font-size: 17px;
                @media (max-width: 575.98px) {
                  font-size: 17px;
                }
              }
            }
          }
        }
      }
    }
  }
  //////// eygpt tour page //////////
  #eygpt-tour {
    margin-top: 200px;
    @include tour($bg, $font-eygpt-ex-dark, $font-eygpt-dark, $font-eygpt);
    .header {
      .heading {
        padding: 50px;
        border-radius: 10px;
        max-width: 100%;
        margin-bottom: 100px;
        height: auto;
        @media (max-width: 575.98px) {
          max-width: 100%;
          padding: 50px 3px;
        }
        h2 {
          text-align: center;
          font-size: 25px;
        }
        hr {
          max-width: 50%;
          margin-left: auto;
          margin-right: auto;
        }
        p {
          font-size: 17px;
          text-align: center;

          @media (max-width: 767.98px) {
            font-size: 17px;
            @media (max-width: 575.98px) {
              font-size: 17px;
              width: 100%;
            }
          }
        }
      }
    }
  }
  //// carousel for turkey & eygpt page
  #carouselTour {
    max-width: 90%;
    max-height: 90%;
    padding: 40px 50px 10px;
    margin-top: 40px;
    margin-right: auto;
    margin-left: auto;
    background-color: $bg;
    border-radius: 10px;
    @media (max-width: 991.98px) {
      max-width: 100%;
      @media (max-width: 575.98px) {
        padding: 0;
      }
    }
    @media (min-width: 767.98px) {
      .carousel-inner {
        img {
        }
      }
    }
    .carousel-inner {
      img {
        max-height: 490px;
        max-width: 100%;
        width: 1000px;
        height: auto;
        margin-left: auto;
        margin-right: auto;
        border-radius: 10px;
        margin-bottom: 50px;
      }
    }
    button {
      width: 7%;
    }
  }
  /////////login page //////////////////
  #login {
    margin-top: 200px;
    max-width: 500px;
    background-color: $bg-light;
    padding: 50px;
    border-radius: 10px;
    box-shadow: 0 0 11px 1px $font;
    &:hover {
      box-shadow: 0 0 11px 1px $font-dark;
    }
    h1 {
      text-align: center;
      margin-bottom: 19px;
    }
    .clearfix {
      margin-top: 50px;

      a {
        color: $font-dark;
        &:hover {
          color: $font-ex-dark;
        }
      }
      button {
        @include btn-outLing($font-dark);
        margin-bottom: 10px;
      }
      .custom-btn {
        @include btn-outLing($font-dark);
        padding: 5px;
        margin-right: 5px;
        font-size: 12px;
        font-weight: 700;
        text-decoration: none;
        margin-top: 0px;
        margin-bottom: 10px;
        @media (max-width: 313.98px) {
          float: right;
        }
      }
    }
  }
  ///////////// register page
  #register {
    margin-top: 200px;
    background-color: $bg-light;
    border-radius: 10px;
    padding: 30px;
    box-shadow: 0 0 11px 1px $font;
    &:hover {
      box-shadow: 0 0 11px 1px $font-dark;
    }
    h1 {
      text-align: center;
    }
    label {
      margin-bottom: 15px !important;
      margin-top: 30px;
    }
    .clearfix {
      margin-top: 50px;
    }
    button {
      @include btn-outLing($font-dark);
      margin-bottom: 30px;
    }
    a {
      color: $font-dark;
    }
  }
}
