@import "./vars";
@import "./mixins";

body {
  background-color: $bg;
  color: $font;
  nav {
    background-color: $bg-light;
    border-radius: 5px;
    margin-bottom: 80px;
    padding: 15px !important;
    a.navbar-brand {
      max-width: 10%;
      background-color: antiquewhite;
      border-radius: 5px;
      @media (max-width: 991.98px) {
        max-width: 18%;
      }
      @media (max-width: 575.98px) {
        max-width: 32%;
      }
      img {
        max-width: 30%;
      }
    }
    ul.navbar-nav {
      margin-right: 15%;
      @media (max-width: 1199.98px) {
        margin-right: 6%;
      }
      @media (max-width: 991.98px) {
        margin-top: 20px;
        margin-right: 0%;
      }
      li.nav-item {
        font-size: 14px;
        font-weight: 400;
        border-radius: 5px;
        &:not(:last-child) {
          margin-left: 50px;
          @media (max-width: 991.98px) {
            margin-left: 0px;
            margin-bottom: 10px;
          }
        }
        a.nav-link {
          @include btn-outLing($font);
        }
      }
    }
  }
  #about-company {
    background-color: $bg-light;
    padding: 50px;
    border-radius: 10px;
    max-width: 70%;
    margin-top: 200px;
    margin-bottom: 80px;
    @media (max-width: 575.98px) {
      max-width: 100%;
      padding: 50px 3px;
    }
    .heading {
      margin-bottom: 50px;
      color: $font-dark;
      h2 {
        text-align: center;
      }
      hr {
        max-width: 50%;
        margin-left: auto;
        margin-right: auto;
      }
    }
    p {
      font-size: 17px;
      text-align: center;
      @media (max-width: 575.98px) {
        font-size: 14px;
        width: 100%;
      }
    }
  }
  #our-services {
    margin-bottom: 80px;
    h1 {
      text-align: center;
      color: $font-dark;
    }
    hr {
      margin-bottom: 40px;
      width: 50%;
      margin-right: auto;
      margin-left: auto;
    }
    .card {
      height: 540px;
      margin-bottom: 30px;
      background-color: $bg-light;
      @media (max-width: 1199.98px) {
        height: 500px;
      }
      @media (max-width: 991.98px) {
        height: 450px;
      }
      @media (max-width: 767.98px) {
        height: 400px;
      }
      img {
        max-width: 100%;
        height: 400px;
        @media (max-width: 1199.98px) {
          height: 350px;
        }
        @media (max-width: 991.98px) {
          height: 290px;
        }
        @media (max-width: 767.98px) {
        }
      }
      .card-body {
        p {
          font-size: 17px;
          color: $font;
          text-align: center;
          padding-top: 10px;
          @media (max-width: 767.98px) {
            font-size: 14px;
          }
        }
      }
    }
  }
  #tours {
    margin-bottom: 100px;
    .heading {
      text-align: center;
      color: $font-dark;
    }
    hr {
      margin-bottom: 40px;
      width: 50%;
      margin-right: auto;
      margin-left: auto;
    }
    .card {
      background-color: $bg-light;
      box-shadow: 0 0 11px #eef0ea;
      @media (max-width: 767.98px) {
        &:first-child {
          margin-bottom: 25px;
        }
      }
      .card-body {
        color: $font;
        h3 {
          font-size: 25px;
          font-weight: 700;
          @media (max-width: 767.98px) {
            font-size: 17px;
          }
        }
        p {
          color: lightgreen;
          font-size: 22px;
        }
        a.btn {
          @include btn-outLing($font);
          margin-top: 20px;
          margin-left: auto;
          margin-right: auto;
        }
      }
    }
  }
  #contact-us {
    padding: 20px;
    background-color: rgb(56, 56, 56);
    border-radius: 10px;
    h4 {
      color: $font-dark;
    }
    #map {
      iframe {
        border-radius: 5px;
        @media (max-width: 767.98px) {
          margin-top: 20px;
        }
      }
    }
  }
  //////// turki tour page //////////
  #turkey-tour {
    margin-top: 200px;
    .header {
        .first-heading {
            height: auto !important;
        }
      .heading {
        background-color: $bg-light;
        padding: 50px;
        border-radius: 10px;
        max-width: 100%;
        margin-bottom: 100px;
        height: 300px;
        @media (max-width: 575.98px) {
          max-width: 100%;
          padding: 50px 3px;
          height: 380px;
        }
        h2 {
          text-align: center;
          color: $font-dark;
          font-size: 25px;
        }
        hr {
          max-width: 50%;
          margin-left: auto;
          margin-right: auto;
        }
        p {
          font-size: 13px;
          text-align: center;

          @media (max-width: 575.98px) {
            font-size: 17px;
            width: 100%;
          }
          @media (max-width: 767.98px) {
            font-size: 17px;
          }
        }
        .heading-p {
          font-size: 17px;
        }
      }
    }
  }
  #eygpt-tour {
    margin-top: 200px;
    .header {
      .heading {
        background-color: $bg-light;
        padding: 50px;
        border-radius: 10px;
        max-width: 100%;
        margin-bottom: 100px;
        height: auto;
        @media (max-width: 575.98px) {
          max-width: 100%;
          padding: 50px 3px;
        }
        h2 {
          text-align: center;
          color: $font-dark;
          font-size: 25px;
        }
        hr {
          max-width: 50%;
          margin-left: auto;
          margin-right: auto;
        }
        p {
          font-size: 13px;
          text-align: center;

          @media (max-width: 575.98px) {
            font-size: 17px;
            width: 100%;
          }
          @media (max-width: 767.98px) {
            font-size: 17px;
          }
        }
        .heading-p {
          font-size: 17px;
        }
      }
    }
  }
  #carouselTour {
    margin-top: 40px;
    .carousel-inner {
      img {
        max-width: 100%;
        width: 1000px;
        height: auto;
        margin-left: auto;
        margin-right: auto;
        border-radius: 10px;
        margin-bottom: 50px;
      }
    }
  }
  #login {
    margin-top: 200px;
    max-width: 500px;
    background-color: $bg-light;
    padding: 50px;
    border-radius: 10px;
    h1 {
        text-align: center;
        margin-bottom: 20px;
    }
    button {
        @include btn-outLing($font);
        padding: 5px;
        margin-bottom: 10px;
        @media (max-width: 349.98px) {
        }
    }
    a {
        color: $font;
        &:hover {
            color: $font-dark;
        }
        margin-top: 10px;
    }
  }
  #register {
    margin-top: 200px;
    background-color: $bg-light;
    border-radius: 10px;
    padding: 30px;
  }
  h1 {
    text-align: center;
  }
  label {
    margin-bottom: 15px !important;
    margin-top: 30px;
}
    .clearfix {
        margin-top: 50px;
    }
    button {
        @include btn-outLing($font);
        margin-bottom: 30px;
    }
    a {
        color: $font;
        
    }
}
